<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.baseplatform.system.mapper.FuncMapper">

    <!--查询最上层菜单-->
    <select id="findTopFunc" parameterType="string" resultType="com.sly.baseplatform.common.model.Func">
        SELECT * FROM `T_SYS_FUNC` TSF
        <where>
            TSF.`funcTag`=0
            AND (TSF.`parentId` IS NULL OR TSF.`parentId`='')
            AND TSF.`isOpen`=1
            AND TSF.`logicDel`='N'
            AND IF(1 IN (SELECT userTag FROM `T_SYS_USER` TSU WHERE TSU.`id`=#{userId}),TRUE,TSF.`funcType` IN (SELECT userTag FROM `T_SYS_USER` TSU WHERE TSU.`id`=#{userId}))
        </where>
        ORDER BY funcSort ASC
    </select>

    <!--查询下层菜单-->
    <select id="findUserFuncChild" resultType="com.sly.baseplatform.common.model.Func">
        SELECT * FROM `T_SYS_FUNC` TSF
        <where>
            TSF.`funcTag`=0
            AND (TSF.`parentId` IS NULL OR TSF.`parentId`='')
            AND TSF.`isOpen`=1
            AND TSF.`logicDel`='N'
            AND IF(1 IN (SELECT userTag FROM `T_SYS_USER` TSU WHERE TSU.`id`=#{userId}),TRUE,TSF.`funcType` IN (SELECT userTag FROM `T_SYS_USER` TSU WHERE TSU.`id`=#{userId}))
        </where>
        ORDER BY funcSort ASC

    </select>
</mapper>