<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.baseplatform.system.mapper.RoleMapper">

    <!--修改角色-->
    <update id="updateRole" parameterType="com.sly.baseplatform.common.model.Role">
        UPDATE `T_SYS_ROLE` TSR
        <set>
            <if test="role.roleName != null and role.roleName != ''">
                TSR.`roleName`=#{role.roleName},
            </if>
            <if test="role.isOpen != null and role.isOpen != ''">
                TSR.`isOpen`=#{role.isOpen},
            </if>
            <if test="role.updateTime != null and role.updateTime != ''">
                TSR.`updateTime`=#{role.updateTime},
            </if>
            <if test="role.remark != null and role.remark != ''">
                TSR.`remark`=#{role.remark},
            </if>
        </set>
        WHERE TSR.`id`=#{role.id}
    </update>

    <!--逻辑删除角色-->
    <update id="deleteRole" parameterType="string">
        UPDATE `T_SYS_ROLE` TSR SET TSR.`logicDel`='Y' WHERE TSR.`id`=#{roleId}
    </update>

    <!--激活角色-->
    <update id="activeRole" parameterType="string">
        UPDATE `T_SYS_ROLE` TSR SET TSR.`isOpen`=1 WHERE TSR.`id`=#{roleId}
    </update>

    <!--禁用角色-->
    <update id="disableRole" parameterType="string">
        UPDATE `T_SYS_ROLE` TSR SET TSR.`isOpen`=0 WHERE TSR.`id`=#{roleId}
    </update>

    <!--根据id查询角色-->
    <select id="findRoleById" resultType="com.sly.baseplatform.common.model.Role">
        SELECT * FROM `T_SYS_ROLE` TSR WHERE TSR.`id`=#{roleId}
    </select>

    <!--查询角色列表-->
    <select id="findRoleList" parameterType="com.sly.baseplatform.common.model.Role"
            resultType="com.sly.baseplatform.common.model.Role">
        SELECT * FROM `T_SYS_ROLE` TSR
        <where>
            TSR.`logicDel`='N'
            <if test="roleName != null and roleName != ''">
                AND TSR.`roleName` LIKE CONCAT('%',#{},'%')
            </if>
            <if test="isOpen != null">
                AND TSR.`isOpen`=#{isOpen}
            </if>
        </where>
        ORDER BY TSR.`createTime` DESC
    </select>


</mapper>