<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.baseplatform.system.mapper.UserMapper">


    <!--根据用户id查询用户-->
    <select id="findUserById" parameterType="string" resultType="com.sly.baseplatform.common.model.User">
        SELECT * FROM `T_SYS_USER` TSU WHERE TSU.`id`=#{id}
    </select>

    <!--查询用户列表-->
    <select id="findUserList" parameterType="com.sly.baseplatform.common.model.User" resultType="com.sly.baseplatform.common.model.User">
        SELECT * FROM `T_SYS_USER` TSU
        <where>
            <if test="username != null and username != ''">
                AND TSU.`` LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND TSU.`` LIKE CONCAT('%',#{nickname},'%')
            </if>
            <if test="realname != null and realname != ''">
                AND TSU.`` LIKE CONCAT('%',#{realname},'%')
            </if>
        </where>
        ORDER BY TSU.`createTime` DESC
    </select>

    <!--修改用户-->
    <update id="updateUser" parameterType="com.sly.baseplatform.common.model.User">
        UPDATE `T_SYS_USER` TSU
        <set>
            <if test="user.username != null and user.username != ''">
                TSU.`username`=#{user.username},
            </if>
            <if test="user.nickname != null and user.nickname != ''">
                TSU.`nickname`=#{user.nickname},
            </if>
            <if test="user.realname != null and user.realname != ''">
                TSU.`realname`=#{user.realname},
            </if>
            <if test="user.phone != null and user.phone != ''">
                TSU.`phone`=#{user.phone},
            </if>
            <if test="user.tel != null and user.tel != ''">
                TSU.`tel`=#{user.tel},
            </if>
            <if test="user.email != null and user.email != ''">
                TSU.`email`=#{user.email},
            </if>
            <if test="user.gender != null and user.gender != ''">
                TSU.`gender`=#{user.gender},
            </if>
            <if test="user.updateTime != null and user.updateTime != ''">
                TSU.`updateTime`=#{user.updateTime},
            </if>
            <if test="user.status != null and user.status != ''">
                TSU.`status`=#{user.status},
            </if>
            <if test="user.remark != null and user.remark != ''">
                TSU.`remark`=#{user.remark},
            </if>
        </set>
        WHERE TSU.`id`=#{user.id}
    </update>

    <!--删除用户-->
    <update id="deleteUser" parameterType="string">
        UPDATE `T_SYS_USER` TSU SET TSU.`logicDel`='Y' WHERE TSU.`id`=#{userId}
    </update>

    <!--激活用户-->
    <update id="activeUser" parameterType="string">
        UPDATE `T_SYS_USER` TSU SET TSU.`status`=1 WHERE TSU.`id`=#{userId}
    </update>

    <!--禁用用户-->
    <update id="disableUser" parameterType="string">
        UPDATE `T_SYS_USER` TSU SET TSU.`status`=2 WHERE TSU.`id`=#{userId}
    </update>

    <!--根据用户名称查询用户-->
    <select id="findUserByUsername" parameterType="string" resultType="com.sly.baseplatform.common.model.User">
        SELECT * FROM `T_SYS_USER` TSU WHERE TSU.`username`=#{username}
    </select>
</mapper>